.sidebar {
    h1 {
        color: #ffffff;
        margin: 12px;
    }

    div {
        width: 90%;
        margin-left: 12px;
        background-color: #ffffff;
    }
    button {
        margin: 12px 12px 0px 12px;
        width: 90%;
    }
}